/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* InfoPlug color scheme */
:root {
  --ifm-color-primary: #0D9373;
  --ifm-color-primary-dark: #0b8468;
  --ifm-color-primary-darker: #0a7d62;
  --ifm-color-primary-darkest: #086751;
  --ifm-color-primary-light: #0fa27e;
  --ifm-color-primary-lighter: #10a984;
  --ifm-color-primary-lightest: #14c99b;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #14c99b;
  --ifm-color-primary-dark: #12b58c;
  --ifm-color-primary-darker: #11ab84;
  --ifm-color-primary-darkest: #0e8d6d;
  --ifm-color-primary-light: #16ddaa;
  --ifm-color-primary-lighter: #17e7b2;
  --ifm-color-primary-lightest: #3eedc1;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
